
  <div class="search-bar">
    <%= form_tag venues_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a venue"
    %>
    <div class="search-btn">
      <%= submit_tag "Search", class: "btn btn-success mx-2 text-white" %>
      <% end %>
    </div>
  </div>

<head>
  <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
</head>

<body>
 <div class="listing-header">
   <h5>Showing <%= @venues.count %> event venues </h5>
 </div>
<div class="container">
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>
   <div class="row"></div>
   <div class="listings-list d-flex flex-wrap m-5">
      <% @venues.each do |venue| %>
          <div class="card-listing m-3">
            <% if venue.photo.attached? %>
             <%= cl_image_tag venue.photo.key, height: 300, width: 400, crop: :fill %>
             <% end %>
              <br><br>
              <div class="card-listing-infos">
                <h2> <%= venue.name %> </h2>
                 <br /><br />
                <p> <%= venue.address %> </p>
                <p> Capacity : <%= venue.capacity %> </p>
                 <br /><br />
                <h2 class="card-listing-link"><%= link_to 'View Venue', venue_path(venue) %>
                  <% if policy(venue).edit? %>
                <%= link_to 'Edit', edit_venue_path(venue), class: 'ml-3 text-warning' %>
                <%= link_to "Remove", venue_path(venue),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: 'ml-3 text-danger'
              %>
                <% end %>
              </h2>

              </div>
          </div>
      <% end %>
  </div>
</body>



