
<div id="card">
  <%= cl_image_tag @venue.photo.key, height: 300, width: 400, crop: :fill %>
  <div id="name">
    <h1><%= @venue.name %></h1>
  </div>
   <div id="address">
    <p><%= @venue.address %></p>
  </div>
  <div id= listing-button> <button type="button" class="btn btn-outline-secondary">PHOTOS</button> </div>
  <div id= listing-button> <button type="button" class="btn btn-outline-secondary">MAP LOCATION</button> </div>

  <div id="description">
    <h6>DESCRIPTION</h6>
    <p> <%= 'Accomodates :' @venue.capacity 'guests' %> </p>
    <p><%= @venue.description %></p>
  </div>
  <h6>AMENITIES</h6>
 </div>


<div id= listing-button> <button type="button" class="btn btn-outline-secondary">REQUEST BOOKING</button> </div>
