
<div class="map mx-5">
  <% if @venue.photo.attached? %>
        <%= cl_image_tag @venue.photo.key, height: 300, width: 1000 %>
      <% end %>
</div>

<div class="container margin-top-negative" id="card">
  <div class="row">
    <div class="col-8">
      <div class="venue-show-card">
        <div id="name">
          <h1><%= @venue.name %></h1>
        </div>
         <div id="address">
          <p><%= @venue.address %></p>
        </div>
      </div>
      <div class="venue-show-card">
        <div id="description">
          <h6>DESCRIPTION</h6>
          <p><%= @venue.description %></p>
        </div>
      </div>
      <h6>AMENITIES</h6>
      <div class= buttons-flex>
      <div id= listing-button> <button type="button" class="btn btn-outline-secondary">MAP LOCATION</button> </div>
      <div id= listing-button> <button type="button" class="btn btn-outline-secondary">PHOTOS</button> </div>
      </div>
    </div>

<div class="col-4">
  <div class="venue-show-card">
  <h5>Book this place!</h5>

        <form action="">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-addon" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-warning mt-2" style="width: 100%">
        </form>
  </div>

 <div class="venue-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex">
            <i class="material-icons mr-2">people</i><span><%= "#{@venue.capacity} guests" %></span>
          </div>
          <div class="flex ml-3">
            <i class="material-icons mr-2">euro_symbol</i>
          </div>
        </div>
      </div>

<div class="venue-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>

          <div class="flex">
            <i class="fa fa-facebook-square fa-2x mr-2"></i>
            <i class="fa fa-twitter-square fa-2x mr-2"></i>
            <i class="fa fa-pinterest-square fa-2x mr-2"></i>
            <i class="fa fa-envelope-square fa-2x"></i>
          </div>
        </div>
     </div>
  </div>
  </div>

 <div class="list-group">
        <% @reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <p><%= review.content %></p>
          </li>
        <% end %>
      </div>
    </div>
