
<div id="card">
      <% if @venue.photo.attached? %>
        <%= cl_image_tag @venue.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div id="name">
        <h1><%= @venue.name %></h1>
      </div>
       <div id="address">
        <p><%= @venue.address %></p>
      </div>
      <div class= buttons-flex>
      <div id= listing-button> <button type="button" class="btn btn-outline-secondary">PHOTOS</button> </div>
      <div id= listing-button> <button type="button" class="btn btn-outline-secondary">MAP LOCATION</button> </div>
      </div>
      <div id="description">
        <h6>DESCRIPTION</h6>
        <p> <%= "Accomodates : #{@venue.capacity} guests" %> </p>
        <p><%= @venue.description %></p>
      </div>
      <h6>AMENITIES</h6>
 </div>

<div id= listing-button> <button type="button" class="btn btn-outline-secondary">REQUEST BOOKING</button> </div>

 <div class="list-group">
        <% @venue.reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <p><%= review.content %></p>
          </li>
        <% end %>
      </div>
